Q1. How do you comment code in Python? What are the different types of comments?

Ans. In Python, we can add comments to your code to provide explanations. There are two main ways to comment code in Python there are two types of comments 1st using the # symbol for singleline comments and using triple quotes ''' or """ for multiline comments

Q2. What are variables in Python? How do you declare and assign values to variables?

In [1]:
'''Variables in python are like containers that are used to store values of different data
types in the memory so that it can be accessed easily for declaring variable it should always
starts with alphabets or _ only and assign value by using = operator'''

a = 12
_a = 10

Q3. How do you convert one data type to another in Python?

In [2]:
'''for converting one data type into another we can use type casting function between
various data types'''
a = 11
a = str(a)
b = [1,2,3]
b = tuple(b)
print(type(a)," ",type(b))

<class 'str'>   <class 'tuple'>

Q4. How do you write and execute a Python script from the command line?

Ans. First we can write the code in some text editor like notepad and then save it by filename.py and then open command prompt and type cd and location where the file is stored example cd Documents and then type filename.py and we will get our output

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [3]:
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [4]:
"In maths a complex number is a number of the form a + bi, where a and b are real numbers, and i is the imaginary part where i = sqrt(-1). The real part of the complex number is a, and the imaginary part is b"
"It is represented by real number + imaginary unit but instead of i in maths here we use j alphabet"
c = 5 + 9j
type(c)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [5]:
'the correct way to declare a variable named age and assign the value 25 to it is'
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [6]:
price = 9.99
'price belongs to float data type'
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [7]:
name = "aditya kumar"
'there are two ways to print it by using print() and by using for loop'
print(name)
for i in name:
    print(i)

aditya kumar
a
d
i
t
y
a

k
u
m
a
r

Q10. Given the string "Hello, World!", extract the substring "World".

In [8]:
s = "Hello, World!"
s = s[7:12]
s

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [9]:
is_student = True
is_student

True